<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
        <!-- Link my styles -->
        <link rel="stylesheet" href="/css/style.css">
        <title>Works</title>
    </head>
<body>
    <!-- NAV -->
    <div id="nav">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/home">Laura Alabau</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div  id="navbarNavLinks">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/works">Works <span class="sr-only">(current)</span></a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li> -->
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- END NAV -->
    <div class="container" id="works-gallery">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/img/proy-1.jpg" alt="Lights" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <h4>Gamers On Duty - MTG</h4>
                                <p>Poster design</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/img/proy-2.jpg" alt="Nature" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <h4>Bwin</h4>
                                <p>Banner design</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                        <img src="/img/proy-3.jpg" alt="Fjords" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <h4>Sportingbet</h4>
                                <p>Banner design</p>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/img/proy-4.jpg" alt="Lights" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <h4>Uquifa</h4>
                                <p>Web design</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/img/proy-5.jpg" alt="Nature" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <h4>Studioglass</h4>
                                <p>Advertisement design</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                        <img src="/img/proy-6.jpg" alt="Fjords" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <h4>Fantosfreak</h4>
                                <p>Magazine design</p>
                            </div>
                        </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>